@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
}

:root{
    --bg: #F7FDF9;
    --fundo: #D0DDD480;
    --light-text: #F7FDF9;
    --main: #168342;
    --light-main: #ABF452;
    --text: #1C1C1C;
    --night: #121317;
    --box-shadow: 20px 20px 60px #d2d7d4,
    -20px -20px 60px #ffffff;
}

body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    overflow-x: hidden;
    background-color: var(--fundo);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--main);
}

body{
    background-color: var(--bg);
    overflow-x: hidden;
    width: calc(100% + 9px);
    transition: all .3s ease-in-out;
}
body.dark{
    --bg: #1c1c1c;
    --fundo: #d0ddd423;
    --light-text: #F7FDF9;
    --main: #168342;
    --light-main: #ABF452;
    --text: #F7FDF9;
    --bolinha: #ABF452;
    --night: #121317;
    --box-shadow: 29px 29px 58px #181818,
    -29px -29px 58px #202020;
    transition: all .3s ease-in-out;
}

.sec{
    margin: 5%;
}
h3{
    color: var(--main);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
h1{
    font-size: 38px;
    line-height: 2.5rem;
    margin-bottom: 25px;
    color: var(--text);
    transition: font-size 0.3s ease-in-out;
}
p, h2{
    color: var(--text);
}
#titulo{
    margin-top: 5%;
    text-align: center;
    color: var(--main);
}



/* =========== Menu =========== */
header{
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
}
nav{
    padding: 1.5% 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px 10px 10px;
    background-color: var(--bg);
    border-radius: 50px;
}
.logo img{
    height: 40px;
}
.logo{
    font-size: 25px;
    font-weight: 700;
    color: var(--main);
}
.menu{
    position: fixed;
    right: 3%;
    top: 12%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: all .1s ease-out;
    z-index: 999;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
ul li a{
    display: flex;
    justify-content: right;
    font-size: 25px;
    font-weight: 500;
    color: var(--light-text);
}
nav .btns{
    display: flex;
    align-items: center;
    gap: 30px;
    z-index: 999;
    padding: 10px 20px;
    background-color: var(--bg);
    border-radius: 50px;
}
.btns button{
    font-weight: 600;
    font-size: 16px;
    color: var(--light-text);
    padding: 5px 30px;
    background-color: var(--main);
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.btns button:hover{
    padding: 5px 50px;
    box-shadow: 0 32px 32px rgba(27,27,27,.1), 
                0 16px 16px rgba(27,27,27,.1), 
                0 8px 8px rgba(27,27,27,.1), 
                0 4px 4px rgba(27,27,27,.1), 
                0 2px 2px rgba(27,27,27,.1);
}
.btns button:active {
    background-color: var(--main);
    transform: translateY(2px);
    transition: 100ms;
    box-shadow: none;
}
nav .btns i{
    font-size: 25px;
    color: var(--main);
    cursor: pointer;
}
#moon{
    transform: rotate(-20deg);
    transition: all .3s ease-in-out;
}
.menuBtn{
    padding: 13px;
    position: relative;
    display: grid;
    place-items: center;
}
.navBtn{
    position: absolute;
}
#closeBtn{
    opacity: 0;
    color: var(--bg);
    pointer-events: none;
    transition: all .3s ease-in-out;
}
#openBtn{
    transition: all .3s ease-in;
}
.circle{
    position: fixed;
}
.circle:before {
    content: "";
    position: fixed;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: var(--main);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform 0.3s ease-out;
}
/* ===== menu open ===== */
.circle.show:before {
    transform: scale(28);
}
.show{
    opacity: 1;
    color: #121317;
    pointer-events: all;
}
.menu.show{
    transition: all .4s ease-in;
}
.btns.hide{
    background-color: transparent;
}
.hide #moon{
    color: var(--light-text);
}
.hide button{
    font-weight: 600;
    color: var(--main);
    padding: 5px 30px;
    background-color: var(--light-text);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.hide button:hover{
    padding: 5px 50px;
    box-shadow: 0 32px 32px rgba(27,27,27,.1), 
                0 16px 16px rgba(27,27,27,.1), 
                0 8px 8px rgba(27,27,27,.1), 
                0 4px 4px rgba(27,27,27,.1), 
                0 2px 2px rgba(27,27,27,.1);
}
.hide a:active {
    background-color: var(--light-text);
    transform: translateY(2px);
    transition: 100ms;
    box-shadow: none;
}
.hide #closeBtn{
    opacity: 1;
    pointer-events: all;
    color: var(--light-text);
}
.hide #openBtn{
    opacity: 0;
}
/* ===== menu open ===== */
/* =========== Menu =========== */



/* =========== Section 1 =========== */
.section1{
    display: flex;
    gap: 5%;
    align-items: center;
}
.section1 img{
    height: 35rem;
    width: 45rem;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 25px;
}
/* =========== Section 1 =========== */



/* =========== Section 2 =========== */
.section2{
    display: flex;
    align-items: center;
    gap: 5%;
}
.section2 img{
    height: 30rem;
    width: 40rem;
    object-fit: cover;
    border-radius: 25px;
}
/* =========== Section 2 =========== */



/* =========== Section 3 =========== */
.section3{
    display: flex;
    align-items: center;
    gap: 8%;
}
.section3 .col-2{
    padding: 50px;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
}
.section3 .col-2 i{
    font-size: 50px;
}
.section3 .col-2 h1{
    display: flex;
    align-items: center;
    gap: 20px;
}
.section3 #sinal{
    transform: rotate(-45deg);
}
/* =========== Section 3 =========== */


/* =========== Section 4 =========== */
.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}
.section4 .col-5{
    position: relative;
    height: 7rem;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    justify-content: center;
    padding-left: 40px;
}
.section4 .col-5 h4{
    font-size: 80px;
    color: #D0DDD459;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
}
/* =========== Section 4 =========== */



/* =========== ShareFoood =========== */
.section5{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.section5 h1{
    width: 60rem;
    margin-bottom: 50px;
}
.box5{
    display: flex;
    gap: 5rem;
}
.col-3{
    width: 23rem;
    padding: 25px;
    padding-bottom: 30px;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col-3 .i{
    font-size: 40px;
    padding: 20px 18px;
    background-color: var(--fundo);
    border-radius: 50%;
    color: var(--main);
}
#i1{
    padding: 20px 25px;
}
#icon2{
    padding: 20px 15.5px;
}
.section5 h2{
    margin: 10px 0;
    color: var(--main);
}
.box4 p{
    font-weight: 500;
}
.btn-mais{
    color: var(--text);
    font-weight: 500;
    font-size: 16px;
    display: flex;
    height: 4rem;
    width: 15rem;
    padding: 0 30px;
    background-color: var(--fundo);
    position: relative;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    margin-top: 30px;
}
.btn-mais i{
    font-size: 30px;
    transform: rotate(-45deg);
    padding: 8px 10px;
    background-color: var(--main);
    border-radius: 50%;
    position: absolute;
    color: var(--light-main);
    right: 10px;
}
/* =========== ShareFoood =========== */



/* =========== PreserveTech =========== */
.section6{
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.section6 h1{
    text-align: center;
    width: 70rem;
    margin-bottom: 5%;
} 
.section6 img{
    height: 20rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 25px;
}
.section6 .col-4{
    display: flex;
    align-items: center;
    gap: 5%;
    width: 40rem;
}
.section6 .box6{
    display: flex;
    gap: 5%;
}
.section6 .b2{
    margin-top: 5%;
}
.section6 h2{
    color: var(--main);
}
/* =========== PreserveTech =========== */



/* =========== Footer =========== */
footer{
    height: 15rem;
    width: 100%;
    background-color: var(--main);
    display: flex;
    align-items: center;
    padding: 2% 5%;
    justify-content: space-between;
}
footer .logo{
    background-color: transparent;
    font-size: 40px;
    gap: 18px;
    padding: 0 0 10px;
    color: var(--light-text);
}
footer .logo img{
    height: 60px;
}
footer h2{
    color: var(--light-text);
    font-weight: 500;
}
footer .mini-menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}
footer .col-2{
    display: flex;
    flex-direction: column;
}
footer .col-2 a{
    color: var(--light-text);
    font-weight: 400;
}
footer .col-2 a:hover{
    text-decoration: underline;
}
footer .contato-footer{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
footer input{
    background-color: transparent;
    width: 15rem;
    font-size: 16px;
    color: var(--light-text);
    border-bottom: 2px solid var(--light-text);
}
footer input::placeholder{
    color: var(--light-text);
}
footer button{
    background-color: transparent;
    font-size: 20px;
    padding: 0 7px;
    color: var(--light-main);
    border: 3px solid var(--light-main);
    cursor: pointer;
}
footer p{
    margin-top: 20px;
    color: var(--light-main);
    padding: 10px 20px;
    border: 3px solid var(--light-main);
    border-radius: 25px;
}
footer .logo-footer p{
    padding: 0;
    border: none;
    color: #f7fdf992;
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}
/* =========== Footer =========== */



/* =========== Login form =========== */
.container {
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    margin: 5.5% 15%;
    width: 70vw;
    height: 80vh;
    top: 0;
    background: var(--bg);
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: all 0.4s ease-out;
}
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, var(--light-main), var(--main));
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}
.container h3{
    color: var(--light-text);
}
.signin-signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}
.container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}
.container form.sign-in-form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
.container form.sign-up-form {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
.title {
    font-size: 35px;
    color: var(--main);
    margin-bottom: 10px;
}
.input-field {
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 10px 0;
    border-bottom: 2px solid var(--main);
    display: flex;
    align-items: center;
}
.input-field i {
    flex: 1;
    text-align: center;
    color: var(--main);
    font-size: 18px;
}
.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
}
.input-field input::placeholder{
    color: var(--main);
}
.btn {
    width: 150px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 50px;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    background: var(--main);
    color: var(--light-text);
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.btn:hover {
    letter-spacing: 3px;
    background-color: var(--main);
    color: var(--light-main);
}
.social-text {
    margin: 10px 0;
    font-size: 16px;
    color: var(--text);
}
.social-media {
    display: flex;
    justify-content: center;
}
.social-icon {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main);
    border: 1px solid var(--main);
    border-radius: 50px;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
}
a {
    text-decoration: none;
}
.social-icon:hover {
    transform: translateY(-5px);
}
.panels-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}
.left-panel {
    pointer-events: none;
}
.content {
    color: var(--light-main);
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}
.panel h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--light-text);
}
.panel p {
    font-size: 15px;
    padding: 10px 0;
}
.image {
    height: 18rem;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}
.left-panel .image,
.left-panel .content {
    transform: translateX(-200%);
}
.right-panel .image,
.right-panel .content {
    transform: translateX(0);
}
.account-text {
    display: none;
}
/*Animation*/
.container.sign-up-mode::before {
    transform: translateX(0);
}
.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
    transform: translateX(200%);
}
.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
    transform: translateX(0);
}
.container.sign-up-mode form.sign-in-form {
    opacity: 0;
}
.container.sign-up-mode form.sign-up-form {
    opacity: 1;
}
.container.sign-up-mode .right-panel {
    pointer-events: none;
}
.container.sign-up-mode .left-panel {
    pointer-events: all;
}

.container.show{
    opacity: 1;
    pointer-events: all;
}
/* =========== Login form =========== */